# Challenge - 2nd scenery

This document consists in an common exercise in a data scientist routine, which is data manipulation. In the proposed scenery, it will be downloaded a `.json` file and, given the `ItemList` column is composed of many dicts, there will be two attention points. First, it will expand the column in the root dataframe, and then will create new dataframe from the given column relating it to the original dataframe.

First, it will be needed to install the required libraries.

In [1]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from -r requirements.txt (line 1)) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 1)) (1.24.4)
Requirement already satisfied: six>=1.5 in /home/victor/anaconda3/envs/ds-challenge/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Loading needed libraries:

In [2]:
import pandas as pd

Loading the json file as a pandas dataframe. The json file is accessible through [this link](https://drive.google.com/file/d/1IDCjpDZh5St97jw4K_bAewJ8hf-rax9C/view).

In [57]:
root_df = pd.read_json('./data.json')

root_df

,CreateDate,EmissionDate,Discount,NFeNumber,NFeID,ItemList
0,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,501,1,"[{'ProductName': 'Rice', 'Value': 35.55, 'Quan..."
1,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,502,2,"[{'ProductName': 'Tomate', 'Value': 12.25, 'Qu..."
2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0,503,3,"[{'ProductName': 'Beer', 'Value': 9.0, 'Quanti..."

In [4]:
root_df.dtypes

CreateDate      object
EmissionDate    object
Discount         int64
NFeNumber        int64
NFeID            int64
ItemList        object
dtype: object

As showed in the previous cells, the column `ItemList` is an object type column, composed of nested dicts. Now, we can proceed to the suggested approach. Since it is needed to create a relationship between the result of the newly generated dataframe and the original one, column `NFeID` will be used as an foreign key in the new dataframe.

In [58]:
rows = []

extract_df = root_df.copy()

for index, row in extract_df['ItemList'].items():
    for item in row:
        item['fk_NFeID'] = extract_df['NFeID'].iloc[index]
        rows.append(item)
    
itemlist_df = pd.DataFrame(rows)

itemlist_df

    ProductName  Value  Quantity  fk_NFeID
0          Rice  35.55         2         1
1         Flour  11.55         5         1
2          Bean  27.15         7         1
3        Tomate  12.25        10         2
4         Pasta   7.55         5         2
5          Beer   9.00         6         3
6  French fries  10.99         2         3
7     Ice cream  27.15         1         3

It is possible to note that, after normalization, all the keys inside `ItemList` column are now columns, and it's values are now displayed in a new data frame. Also, there is a relation between `itemlist_df` and `root_df`, since the `fk_NFeID` is the same as `NFeID` in the original json. Hence, we can make relationships between the two dataframes by creating queries where these two columns are equals.